<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="com.arena.fileorganizer"
    platformBuildVersionCode="34"
    platformBuildVersionName="14"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 允许该应用读取您共享存储空间中的内容。 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <!-- 允许该应用写入您共享存储空间中的内容。 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- 允许该应用显示通知 -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 允许该应用使用前台服务。 -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 允许该应用使用“specialUse”类型的前台服务 -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <!-- 允许应用在系统完成引导后立即自动启动。这样可能会延长手机的启动时间，并允许应用始终运行，从而导致手机总体运行速度减慢。 -->
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 允许应用请求相应的权限，以便忽略针对该应用的电池优化。 -->
    <uses-permission
        android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".OrganizerService"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Watches a user chosen directory and organizes files by extension rules" />
        </service>
        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>